# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

interview/*__pycache__/

# Node.js
node_modules/

# minni
miniprogram_npm/

# db
db/
