<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pch.interview.dao.WxCpDaoMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.pch.interview.dto.WxCpDTO">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="cp_name" property="cp_name"/>
        <result column="url" property="url"/>
    </resultMap>

    <select id="selectAllCps" resultMap="BaseResultMap">
        SELECT
            *
        FROM  wx_cp
    </select>

</mapper>
